.awal
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #443C68;
    height: 90vh;
    width: 100%;
}

.awal div
{
    margin-top: -200px;
}

.awal .namaden
{
    font-family: 'PT Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.awal .developer
{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
    text-align: center;
    margin: 0;
    letter-spacing: 4px;
}

.fototengah {
    display: grid;
    grid-template-columns: 1fr repeat(2, 1.5fr);
    grid-template-rows: 0.8fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #443C68;
    height: 100vh;
    border: 5px solid red;
    padding-left: 150px;
    padding-right: 150px;
}

.foteng1
{
        border: 2px solid green;
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: max-content max-content max-content max-content;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-top: 200px;
}

.fototen .nama
{
    font-size: 4.2rem;
    color: #ffbd59;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

.fototen h2
{   
    color: white;
    font-size: 2.5rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    margin: 0;
}

.line
{
    width: 300px;
    height: 2px;
    border: 1px solid #ffbd59;
    margin-top: 12px;
}

.fototen .ig
{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
    text-align: left;
}

.fototen .lin
{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-top: 5px;
    text-align: left;
}

.fototen .contact
{
    border: 1px solid #ffbd59;
    margin-top: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color:  #ffbd59;
    width: 230px;
    height: 60px;
    border-radius: 0;
}

.fototen, section
{
    background-color: #443C68;
}

.untar
{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 33px;
    font-weight: 600;
    text-align: right;
    letter-spacing: 1px;
    width: 420px;
    margin-bottom: 30px;
}

.untar span
{
    color: #ffbd59;
}

.untarp
{
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: white;
    text-align: right;
    width: 312px;
    margin: 0;
    margin-left: 110px;
}

@media (max-width:768px)
{
    .fototen
    {
        height: 160vh;
        background-color: #443C68 ;
    }
    .untarp
    {
        text-align: left;
        margin: 0;
    }
    .untar
    {
        text-align: left;
    }
}
@media (max-width:1400px)
{
    .fototen
    {
        height: 160vh;
        background-color: #443C68 ;
    }
}

@media (max-width:980px)
{
    .fototen
    {
        height: 160vh;
        background-color: #443C68 ;
    }
    .untarp
    {
        text-align: left;
        margin: 0;
    }
    .untar
    {
        text-align: left;
        width: 500px;
    }
}

.hitambulet
{
    width: 600px;
    height: 500px;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 20px;
    background-color: #635985;
    margin-top: 110px;
    border-radius: 50%;
}

.indoplace h2
{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 38px;
    font-weight: 600;
}

.indoplace .pplace
{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    margin-bottom: 100px;
}

.rowplace img
{
    width: 98%;
    height: 260px;
    margin-bottom: 19px;
}

.rowplace
{
    margin-bottom: 50px;
}

.wisataindo h3
{
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    color: white;
    font-weight: 500;
    font-size: 26px;
    transition: 0.6s ease-in;
    margin: 0;
}

.wisataindo
{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.wisataindo:hover .price
{
    background-color: rgb(226, 63, 63);
    transition: transform 0.4s;
}
.wisataindo:hover h3
{
    color: rgb(226, 63, 63);
    transition: transform 0.4s;
}
.wisataindo .price
{
    position: absolute;
    top: 20px;
    left: 30px;
    width: auto;
    border-radius: 18px;
    height: auto;
    background: #1EC6B6;
    color: white;
    padding: 7px 18px 4px 18px;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: 0.6s ease-in;
}

.wisataindo span
{
    margin-left: 16px;
}
.wisataindo span img
{
    width: 17px;
    height: 17px;
    margin-bottom: 0;
    margin-top: 3px;
}
.wisataindo span a
{
    text-decoration: none;
    color: grey;
    margin-left: 5px;
    font-size: 14px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

.wisataindo p
{
    padding-left: 22px;
    font-family: "Rubik", sans-serif;
    color: grey;
    font-size: 17px;
}

.wisataindo a img
{
    border-radius: 5px;
}


    
    